# <center>Question 1</center>

## Change to float and integer:

# Answer

In [12]:
num1 = 12.6
num2 = "050"
num3 = "20."
student_num= "s98234"
flag = True

print("num1 is: ", type(num1))
print("num2 is: ", type(num2))
print("num3 is: ", type(num3))
print("student_num is: ", type(student_num))
print("flag is: ", type(flag))
print("python")

num1 is:  <class 'float'>
num2 is:  <class 'str'>
num3 is:  <class 'str'>
student_num is:  <class 'str'>
flag is:  <class 'bool'>

In [24]:
num1 = 12.6
num2 = float("050")
num3 = float("20.")
student_num= "s98234" #this value consist a letter and can not convert letter to float or int
flag = float(True)
print(type(num1))
print(type(flag))
print(type(num2))
print(type(student_num))
print(type(num3))

<class 'float'>
<class 'float'>
<class 'float'>
<class 'str'>
<class 'float'>

## Change to boolean:

In [26]:
num1 = bool(-20)
num2 = bool(00)
flag = bool("False")
print(f"type of num1 is: {type(num1)} and type of num2 is {type(num2)} type of flag is {type(flag)}")

type of num1 is: <class 'bool'> and type of num2 is <class 'bool'> type of flag is <class 'bool'>

# <center>Question 2</center>

In [30]:
num1 = 20
num2 = 19.
num3 = float("18.5")

print(f'Average is: {(num1 + num2 + num3)/3}')

Average is: 19.166666666666668

#  <center> Question 3 </center>

In [34]:
num1 = int(input("Please enter a number:"))
num2 = int(input("Please enter a number:"))
print(num1 > num2)

Please enter a number:20
Please enter a number:10
True

# <center> Question 4 </center>

In [36]:
# calculate Area
num1 = float(input('Enter a number...'))
num2 = float(input('Enter secondry number...'))

Masahat = num1 * num2
print(f'area is: {Masahat}')

Enter a number...20
Enter secondry number...20
area is: 400.0

In [37]:
# calculate perimeter
number1 = float(input('Enter a number...'))
number2 = float(input('Enter secondry number...'))

perimeter = (number1 + number2) * 2
print(f'perimeter is: {perimeter}')

Enter a number...10
Enter secondry number...15
perimeter is: 50.0

# <center> Question 5 </center>

In [38]:
Radius = float(input('enter a number for radius...'))
Area = 3.14 * Radius * Radius
print(f'The circle area is: {Area}')

enter a number for radius...10
The circle area is: 314.0

# <center> Question 6 </center>

In [46]:
num1 = num2 = num3 = 200
print('first assign: ', num1,num2,num3)

num1 , num2 , num3 = 10, 20, 145
print('second assign: ', num1,num2,num3)

num1 , num2 , num3 = 30, 100, 200
print('third assign: ', num1,num2,num3)

first assign:  200 200 200
second assign:  10 20 145
third assign:  30 100 200